
      <br><br>
<section class="container-fluid" style="min-height: 84vh; width: 90%">
    <br>
<div class="col-md-12">
        <!-- ============================ COMPONENT ITEM BG ================================= -->
        <div class="card-banner"style="height:500px;">
            <div class="p-4" style="width:40%; margin-top: 180px;">
                <h2 class="card-title" style="font-size: 31px;">Application Submitted!</h2>
                <h6>Thank you for applying! An Email will be sent to you regarding the results.</h6>
                <br>
                <a href="/institution/showallSchools" class="btn btn-sm btn-primary ml-2"> Go home </a>
            </div>
            <br>
            <img src="/images/banners/completion.png" height="500px;" class="img-bg">
        </div>
        <!-- ============================ COMPONENT ITEM BG  END .// =========================== -->
    </div> <!-- col.// -->
</section>