.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background-color: #6fa8f2;
    border-radius: 20px;
    color: white;
    font-family: Gill Sans, sans-serif;
}