<div class="container" style="width: 75%; padding-top: 50px; margin-top: 50px; padding-left: 50px;">
	<div class="container">
		<h1 class="display-4" style="text-shadow: 2px 2px 5px white;">Welcome!</h1>
		<h3 style="text-shadow: 2px 2px 5px white;">{{user.user_id}}</h3>
	</div>
</div>