<section class="padding-y bg">
<div class="container">
<div class="row">
    <div class="col-md-12">
        <!-- ============================ COMPONENT BANNER 7 ================================= -->
        <div class="card-banner text-center" style="min-height:200px;">
          <div style="margin-left: 300px;">
			  <br>
			  <br>
			  <h1 class="card-title" style="font-size: 60px;">Register your Tutor</h1>
			  <p>Add your tutors and let them use their account immediately!</p>
          </div>
        </div>
        <!-- ============================ COMPONENT BANNER 7  END .// =========================== -->
    </div> <!-- col.// -->
</div>
</div>
</section>
<section class="padding-y bg">
<section class="container-fluid" style="min-height: 84vh; width: 90%">
    <br>
    <!-- ==================== form content ============ -->
    <center>
      <h2>Tutor Institution Registration Form</h2>
    </center>
    <br>
    <div class="col-md-12 text-left">
      <p>

          <br>
          Please fill up the following details <br><br>
          <strong>Do take Note:</strong> <br>
          1. Institution's Tutor Registration shall be done only if the Tutor is officially license. Registration of Unofficial tutor will result in Insitution being permanently ban from TutorHub.
          <br>
          2. Submit certificates of proof for Tutor for legal purposes.
          <br><br>
          Upon submitting, please make sure information that are stated are real. False information will result in Tutor's registration revoked.
      </p>
    </div>

    <br>
    <form class="block-register" action="" method="POST" enctype="multipart/form-data">
      <div class="card mx-auto">
          <div class="card-body">
              <h5 class="card-title mb-4">Personal Information</h5>
              <div class="form-group form-row">
                  <label class="col-md-3 col-form-label">Full Name <br> <span class="text-muted">This will be private</span></label>
                  <div class="col-s-1 col-form-label">
                      <label>First name</label>
                  </div>
                  <div class="col">
                      <input class="form-control"  id="firstname" name="firstname">
                  </div>
                  <div class="col-s-1 col-form-label">
                      <label>last name</label>
                  </div>
                  <div class="col">
                      <input class="form-control"  id="lastname" name="lastname">
                  </div>
              </div>
              <div class="form-group form-row">
                  <label class="col-md-3 col-form-label">Profile Picture</label>
                  <div class="col-md-3">
                      <img  src="images\coursethumbnails\avatar3.jpg" class="img-md rounded-circle border">
                      <div style="position:relative; ">
                      </div>
                  </div>
              </div>
              <div class="form-group form-row">
                  <label class="col-md-3 col-form-label">Description</label>
                  <div class="col-9">
                      <input class="form-control"  id="description" name="description">
                  </div>
              </div>
              <div class="form-group form-row">
                  <label class="col-md-3 col-form-label">Languages</label>
                  <div class="col">
                      <input class="form-control"  id="language" name="language">
                  </div>
                  <div>
                      <input class="form-control"  id="profficency" name="profficiency">
                  </div>
              </div>
              <br>
              <hr>
              <br>
              <h5 class="card-title mb-4">Occupation Information</h5>
              <div class="form-group form-row">
                  <label class="col-md-3 col-form-label">Your Occupation</label>
                  <div class="col">
                      <input class="form-control"  id="occupation" name="occupation">
                  </div>
                  <div class="col-s-1 col-form-label">
                      <label>From</label>
                  </div>
                  <div class="col">
                      <input class="form-control"  id="fromyear" name="fromyear">
                  </div>
                  <div class="col-s-1 col-form-label">
                      <label>To</label>
                  </div>
                  <div class="col">
                      <input class="form-control"  id="toyear" name="toyear">
                  </div>
              </div>
              <div class="form-group form-row">
                  <label class="col-md-3 col-form-label">Education</label>
                  <div class="col">
                      <input class="form-control"  id="institName" name="country">
                  </div>
                  <div class="col">
                      <input class="form-control"  id="institName" name="collegename">
                  </div>
              </div>
              <div class="form-group form-row">
                  <label class="col-md-3 col-form-label"></label>
                  <div class="col">
                      <input class="form-control"  id="major" name="major">
                  </div>
                  <div class="col-md-1">
                      <input class="form-control"  id="year" name="year">
                  </div>
              </div>
              <div class="form-group form-row">
                  <label class="col-md-3 col-form-label">Certification <br> <p class="text-muted" style="max-width:200px;">For verification purposes, this will remain private</p>  </label>
                  <div class="col">
                      <input type="file" name="cert" id="cert">
                  </div>
                  <div class="col-s-1 col-form-label">
                      <label>Date of Birth</label>
                  </div>
                  <div class="col">
                      <input class="form-control"  id="dob" name="dob">
                  </div>
                  <div class="col-s-1 col-form-label">
                      <label>NRIC</label>
                  </div>
                  <div class="col">
                      <input class="form-control"  id="nric" name="nric">
                  </div>
              </div>
              <br>
              <hr>
              <br>
              <h5 class="card-title mb-4">Tutor Account information</h5>
              <div class="form-group form-row">
                  <label class="col-md-3 col-form-label">
                      Username
                  </label>
                  <div class="col">
                      <input class="form-control"  id="username" name="username">
                  </div>
                  <div class="col-s-1 col-form-label">
                      <label>Password</label>
                  </div>
                  <div class="col">
                      <input class="form-control"  id="password" name="password">
                  </div>
                  </div>
              </div>
              <div class="form-group form-row">
                  <div class="col-md-3 col-form-label" style="padding-left:30px;">
                      <label>Email</label>
                  </div>
                  <div class="col-md-3">
                      <input class="form-control"  id="email" name="email">
                  </div>
              </div>
      </div>
      <br>
      <button class="btn btn-primary float-right" type="submit">Submit</button>
    </form>
    <br>
</section>
</section>