
      <br><br>
<section class="container-fluid" style="min-height: 84vh; width: 90%">
    <br>
<div class="col-md-12">
        <!-- ============================ COMPONENT ITEM BG ================================= -->
        <div class="card-banner"style="height:500px;">
            <div class="p-4" style="width:40%; margin-top: 180px;">
                <h2 class="card-title" style="font-size: 31px;">Your tutor has been registered and created!</h2>
                <h6>An email will be sent to the tutor along with the information regarding their account. They are now able to use their account.</h6>
                <br>
            </div>
            <br>
            <img src="/images/banners/completion.png" height="500px;" class="img-bg">
        </div>
        <!-- ============================ COMPONENT ITEM BG  END .// =========================== -->
    </div> <!-- col.// -->
</section>