<br><br><br>
<section class="container-fluid" style="min-height: 84vh; width: 90%">
    <div class="card mx-auto col-md-10">
        <div class="card-body">
            <center><h2 class="card-title mb-4">your tutor has been registered and created!</h2>
            <h6>An email will be sent to the tutor along with the information regarding their account. They are now able to use their account!</h6>
            <br>
        </div>

    </div>
</section>