
<section class="padding-y bg">
<div class="container">
<div class="row">
    <div class="col-md-12">
        <!-- ============================ COMPONENT BANNER 7 ================================= -->
        <div class="card-banner text-center" style="min-height:200px;">
          <div style="margin-left: 400px;">
			  <br>
			  <br>
			  <h1 class="card-title" style="font-size: 60px;">Your Tutors</h1>
			  <p>Look at all the tutors under your institution.</p>
          </div>
        </div>
        <!-- ============================ COMPONENT BANNER 7  END .// =========================== -->
    </div> <!-- col.// -->
</div>
</div>
</section>


{{!-- <div id="toolbar">
  <button id="remove" class="btn btn-danger" disabled>
    <i class="fa fa-trash"></i> Delete
  </button>
</div> --}}
<table
  {{!-- data-toolbar ="#toolbar" --}}
  data-toggle="table"
  data-search="true"
  data-show-columns="true"
  data-show-pagination-switch="true"
  data-page-list="[10, 25, 50, 100, all]"
  data-pagination="true">
  <thead>
    <tr class="tr-class-1">
      <th data-field="name" rowspan="2" data-valign="middle">USER_ID</th>
      <th colspan="7">Tutor's details</th>
    </tr>
    <tr class="tr-class-2">
      <th data-field="email">Email</th>
      <th data-field="username">Username</th>
      <th data-field="firstname">firstname</th>
      <th data-field="lastname">lastname</th>
      <th data-field="nric">nric</th>
      <th data-field="dob">dob</th>
      <th data-field="department">department</th>
    </tr>
  </thead>
  <tbody>
    <tr id="tr-id-1" class="tr-class-1" data-title="bootstrap table" data-object='{"key": "value"}'>
      <td id="td-id-1" class="td-class-1" data-title="bootstrap table">
        1
      </td>
      <td data-value="526">erika.sampang.c@gmail.com</td>
      <td data-text="122">erikasampang</td>
      <td data-i18n="firstname">Erika
      </td>
      <td>sampang</td>
      <td>d1234567A</td>
      <td>16/01/2003</td>
      <td>information Technology</td>
    </tr>
    <tr id="tr-id-2" class="tr-class-2">
      <td id="td-id-2" class="td-class-2">
        2
      </td>
      <td>erika.sampang.c@gmail.com</td>
      <td>erikasampang</td>
      <td>Erika</td>
      <td>sampang</td>
      <td>d1234567A</td>
      <td>16/01/2003</td>
      <td>information Technology</td>
    </tr>
    <tr id="tr-id-3" class="tr-class-3">
      <td id="td-id-3" class="td-class-3">
         3
      </td>
      <td>erika.sampang.c@gmail.com</td>
      <td>erikasampang</td>
      <td>Erika</td>
      <td>sampang</td>
      <td>d1234567A</td>
      <td>16/01/2003</td>
      <td>information Technology</td>
    </tr>
    <tr id="tr-id-4" class="tr-class-4">
      <td id="td-id-4" class="td-class-4">
         4
      </td>
      <td>erika.sampang.c@gmail.com</td>
      <td>erikasampang</td>
      <td>Erika</td>
      <td>sampang</td>
      <td>d1234567A</td>
      <td>16/01/2003</td>
      <td>information Technology</td>
    </tr>
    <tr id="tr-id-5" class="tr-class-5">
      <td id="td-id-5" class="td-class-5">
         5
      </td>
      <td>erika.sampang.c@gmail.com</td>
      <td>erikasampang</td>
      <td>Erika</td>
      <td>sampang</td>
      <td>d1234567A</td>
      <td>16/01/2003</td>
      <td>information Technology</td>
    </tr>
  </tbody>
</table>
<br>
<br>
<br>
<br>